.listings {
  @extend %basic-block;

  &__list {
    li {
      @extend %basic-block;

      & + * {
        margin-top: 8.8rem;
      }
    }
  }
}

.listing {
  > a {
    @extend %flex-block;

    flex-direction: column;
  }

  &__header {
    order: 2;
    margin-bottom: 1.6rem;
  }

  &__rubric {
    @include hd-d($color: -color(cerulean));

    text-transform: uppercase;
    margin-bottom: 0.8rem;

    > * + * {
      &:before {
        content: "/";
        margin: 0 0.8rem;
      }
    }
  }

  &__heading {
    @include hd-b();

    text-transform: uppercase;
  }

  &__image {
    @extend %basic-block;

    background-color: -color(gallery);
    order: 1;
    margin-bottom: 3.2rem;

    img {
      @extend %basic-block;
    }
  }

  &__content {
    @extend %content;

    order: 3;
    max-width: 90rem;
    margin: 0 auto 4rem;
  }

  @include for-tablet-landscape-up {
    > a {
      display: block;
    }

    &__header {
      max-width: 90rem;
      margin-bottom: 4rem;
    }
  }
}
