.locations {
  @extend %basic-block;

  &__heading {
    @include hd-a();

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  &__list {
    li {
      & + * {
        margin-top: 0.8rem;
      }
    }
  }
}

.location {
  @include ratio-box(33%);

  background-color: -color(white);

  &__image {
    @extend %absolute-fill;

    background-color: -color(gallery);

    img {
      @extend %cover-image;
    }
  }

  &__heading {
    @extend %absolute-center;

    display: block;
    color: -color(white);
    font-family: $reenie-beanie;
    font-size: 6rem;
    text-align: center;
    z-index: -z(content);
    text-shadow: 0 0 1.1rem rgba(74,74,74, 0.63);
  }

  @include for-tablet-portrait-up {
    &__heading {
      font-size: 10vw;
    }
  }

  @include for-desktop-up {
    &__heading {
      font-size: 13rem;
    }
  }
}
