@lost gutter 2rem;
@lost flexbox flex;
@lost cycle auto;

%container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 150rem;

  @include for-tablet-portrait-up {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include for-desktop-up {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

%wrap {
  position: relative;

  @include for-desktop-up {
    lost-column: 5/6;
    lost-offset: 1/12;
  }
}
