div,
p,
span,
li,
small,
label,
input,
select,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
cite {
  @include font-smoothing(on);

  text-rendering: optimizeLegibility;

  &::selection {
    background-color: -color(cerulean);
  }

  &::-moz-selection {
    background-color: -color(cerulean);
  }
}

// headings
@mixin hd-a($color: $default-type-color, $family: $raleway, $line-height: 1.33, $weight: -weight(medium)) {
  color: $color;
  font-family: $family;
  font-size: 3rem;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.04em;
}

@mixin hd-b($color: $default-type-color, $family: $raleway, $line-height: 1.24, $weight: -weight(medium)) {
  color: $color;
  font-family: $family;
  font-size: 2.1rem;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.04em;
}

@mixin hd-c($color: $default-type-color, $family: $raleway, $line-height: 1.33, $weight: -weight(medium)) {
  color: $color;
  font-family: $family;
  font-size: 1.8rem;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.04em;
}

@mixin hd-d($color: $default-type-color, $family: $raleway, $line-height: 1.33, $weight: -weight(medium)) {
  color: $color;
  font-family: $family;
  font-size: 1.6rem;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.04em;
}

@mixin hd-e($color: $default-type-color, $family: $raleway, $line-height: 1.33, $weight: -weight(medium)) {
  color: $color;
  font-family: $family;
  font-size: 1.4rem;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.04em;
}

// copy
@mixin copy-a($color: $default-type-color, $family: $quicksand, $line-height: 1.75, $weight: -weight(regular)) {
  color: $color;
  font-family: $family;
  font-size: 1.5rem;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.04em;
}

@mixin copy-b($color: $default-type-color, $family: $quicksand, $line-height: 1.44, $weight: -weight(regular)) {
  color: $color;
  font-family: $family;
  font-size: 2.1rem;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.04em;
}
