lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
node_modules

graphql.config.json
.graphqlrc
.tsgrc
.idea
.githubtoken
.jekyll-metadata
.idea

/vendor
/build
/static/category/
/static/about/
/static/blog/
/static/continent/
/static/destination-hub-mockup/
/static/destinations/
/static/film/
/static/privacy/
/static/search/
/static/still/
/static/story/
/static/*.html
/static/*.json
/static/ads.txt
/static/sitemap.xml
/static/assets/google-doc-images/
takeshape-project.graphql
.graphqlconfig
.takeshaperc
.amazon-creators.env
/tools/amazon-creators-sdk/
/.migration-backups/
