{% extends "layouts/landing.html" %}

{% block filters %}
  <li><a href="/destinations">Featured</a></li>
  <li><span class="separator"></span></li>

  {% for continent in continents.items | reverse %}
  <li>
    <a href="{{ continent | route('continent') }}/#" {% if continent.name == page.name %}class="is-current"{% endif %}>{{ continent.name }}</a>

    {% if continent.locations.length %}
    <div class="dropdown dropdown--features">
      <ul class="dropdown__list">
        {% for location in continent.locations %}
        <li><a href="{{ location | route('location') }}">{{ location.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </li>
  {% endfor %}
{% endblock %}

{% block listings %}
<listings heading="{{ page.name }}" pagination-length="250" id="{{ page._id }}" sub-categories="{{ page.locations | dump }}" type="continent"></listings>
{% endblock %}
