{% extends "layouts/landing.html" %}

{% block filters %}
  <li><a href="/film">Featured</a></li>
  <li><span class="separator"></span></li>

  {% for category in films.filmCategories %}
  <li><a href="{{ category | route('filmCategory') }}/#" {% if category.title == page.title %}class="is-current"{% endif %}>{{ category.title }}</a></li>
  {% endfor %}
{% endblock %}

{% block listings %}
<div class="grid--films">
  <div class="grid__inner">
    <ul class="grid__list">
      {% for film in page.filmSet.results | sort(true, true, "_enabledAt") %}
      <li class="grid__item">
        <div class="tout">
          <a href="{{ film.youTubeUrl }}" target="_blank">
            <div class="tout__image">
              <img srcset="{{ film.image.s3Key | image({w: 2880, auto: 'compress,format'}) }} 2880w,
                {{ film.image.s3Key | image({w: 2028, auto: 'compress,format'}) }} 2028w,
                {{ film.image.s3Key | image({w: 1440, auto: 'compress,format'}) }} 1440w,
                {{ film.image.s3Key | image({w: 1200, auto: 'compress,format'}) }} 1200w,
                {{ film.image.s3Key | image({w: 1014, auto: 'compress,format'}) }} 1014w"
                   sizes="(min-width: 1500px) 496px,(min-width: 900px) calc(75vw/2), (min-width: 600px) calc(100vw - 80px), calc(100vw - 40px)"
                   src="{{ film.image.s3Key | image({w: 1200, auto: 'compress,format'}) }}"
                   data-image
                   data-image
                   v-imageloaded
              />
            </div>

            <div class="tout__content">
              <h2 class="tout__heading">{{ film.title }}</h2>
            </div>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
