{% extends "layouts/default.html" %}

{% block body_class %}body--homepage{% endblock %}

{% block content %}
<div class="hero">
  <div class="slides" {% if page.slider.interval %}data-interval="{{ page.slider.interval }}"{% endif %} data-bind="slides">
    <div class="slides__container">
      {% for slide in page.slider.slides %}
      <img srcset="{{ slide.image.s3Key | image({w: 1440, auto: 'compress,format'}) | escape }} 1x, {{ slide.image.s3Key | image({w: 2880, auto: 'compress,format'}) | escape }} 2x"
           src="{{ slide.image.s3Key | image({w: 2880, auto: 'compress,format'}) | escape }}"
           {% if slide.caption %}data-caption="{{ slide.caption.text }}" data-link="{{ slide.caption.url }}"{% endif %}
      />
      {% endfor %}
    </div>

    <div class="slides__inner">
      <a href="" class="slides__caption"></a>
    </div>
  </div>
</div>

<div class="grid">
  <h2 class="grid__heading">Recent Entries</h2>

  <div class="grid__inner">
    <div class="grid__wrap">
      <ul class="grid__list">
        {% set sortedStories = stories | sort(true, true, "_enabledAt") %}

        {% for story in sortedStories.slice(0, 6) %}
        <li class="grid__item">
          <div class="tout">
            <a href="{{ story | route('story') }}">
              <div class="tout__image">
                <img srcset="{{ story.tout.image.s3Key | image({w: 820, auto: 'compress,format'}) | escape }} 1x, {{ story.tout.image.s3Key | image({w: 1640, auto: 'compress,format'}) | escape }} 2x"
                     src="{{ story.tout.image.s3Key | image({w: 1640, auto: 'compress,format'}) | escape }}"
                     data-image
                     data-bind="imageLoaded"
                />
              </div>

              <div class="tout__content">
                <div class="tout__rubric">
                  <span>{{ story._enabledAt | date("MMMM D, YYYY") }}</span>

                  {% for category in story.category %}
                  <span>{{ story.category.title }}</span>
                  {% endfor %}
                </div>

                <h2 class="tout__heading">{{ story.title }}</h2>

                <p class="tout__dek">{{ story.tout.dek }}</p>
              </div>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
