{% extends "layouts/landing.html" %}

{% block body_class %}body--landing body--destination-detail has-no-hero{% endblock %}

{% block extra_head %}
  <link rel="canonical" href="https://www.awaylands.com{{ currentPath }}">
  <meta property="og:url" content="https://www.awaylands.com{{ currentPath }}">
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "url": "https://www.awaylands.com{{ currentPath }}",
    "name": {{ (page.title + " Travel Guide") | dump | safe }},
    "isPartOf": {"@id": "https://www.awaylands.com/#website"}
  }
  </script>
{% endblock %}

{% block filters %}
  <li><a href="/destinations">Featured</a></li>
  <li><span class="separator"></span></li>

  {% for continent in continents.items | reverse %}
  <li>
    <a href="{{ continent | route('continent') }}/#" {% if continent.name == page.name %}class="is-current"{% endif %}>{{ continent.name }}</a>

    {% if continent.locations.length %}
    <div class="dropdown dropdown--features">
      <ul class="dropdown__list">
        {% for location in continent.locations %}
        <li><a href="{{ location | route('location') }}">{{ location.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </li>
  {% endfor %}
{% endblock %}

{% block listings %}
<listings heading="{{ page.title }}" pagination-length="250" id="{{ page._id }}" type="location"></listings>
{% endblock %}
