{% extends "layouts/landing.html" %}

{% block filters %}
  <li><a class="is-current" href="/films">Featured</a></li>

  {% for category in stillCategories %}
  <li><a href="{{ category | route('stillCategory') }}">{{ category.title }}</a></li>
  {% endfor %}
{% endblock %}

{% block listings %}
<!-- ko component: "lightbox" -->
<div class="masonry">
  {% for still in page.featuredStills %}
  <div class="masonry__item">
    <a class="still">
      <img src="{{ still.image.s3Key | image({w: 800, auto: 'compress,format'}) }}" data-image data-bind="imageLoaded" />
    </a>
  </div>
  {% endfor %}
</div>
<!-- /ko -->
{% endblock %}
