%button {
  position: relative;
  display: block;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  word-break: break-all;
  word-break: break-word;
  max-width: 100%;
  will-change: color, background, border;
  transition: color 0.2s $ease-in-out-quart, background 0.2s $ease-in-out-quart;
  cursor: pointer;
  user-select: none;
  z-index: -z(content);
}

.button {
  @include hd-b(-color(cerulean));

  text-transform: uppercase;
  cursor: pointer;
  padding: 1.2rem 3.2rem;
  border: 0.2rem solid -color(cerulean);
  min-width: 19.6rem;
}
