%content {
  @include copy-a();

  > * {
    @extend %cf;

    display: block;
    max-width: 83.4rem;
    margin: 0 auto;

    & + * {
      margin-top: 2.4rem;
    }
  }

  h1 {
    @include hd-a();
  }

  h2 {
    @include hd-b();
  }

  h3 {
    @include hd-c();
  }

  h1, h2, h3 {
    text-transform: uppercase;
  }

  p {
    @include copy-a();
  }

  a {
    color: -color(cerulean);
    will-change: color;
    transition: color 0.15s $ease-in-out-quart;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: -weight(bold);
  }

  ul,
  ol {
    @include copy-a();

    word-break: break-word;
    padding-left: 0.8rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  br {
    user-select: none;
  }

  iframe,
  aside,
  > blockquote {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  iframe {
    max-width: 100%;
  }

  figure {
    @extend %basic-block;
    @extend %cf;

    max-width: none;

    // necessary work-around for empty p tags between images in TS block canvas
    & + p {
      display: none;
    }
  }

  figcaption {
    display: flex;
    width: 100%;
    margin: 0.8rem auto 0;
    max-width: 83.4rem;

    & > * {
      p {
        @include copy-c($line-height: 1.4);
      }

      font-style: italic;
    }

    .caption {
      flex: 2 1 60%;
    }

    .credit {
      flex: 1 1 40%;
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: 83.4rem;
    margin: 0 auto;
    user-select: none;
  }

  hr {
    border: 0 none;
    height: 0.2rem;
    background-color: -color(athens);
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  aside {
    position: relative;
    padding: 3.2rem 0;

    blockquote {
      @include copy-b(-color(tundora));

      display: block;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: -color(gallery);
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  > blockquote {
    @include copy-b();

    position: relative;
    padding: 1.6rem 0 1.6rem 6.4rem;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: -color(gallery);
      width: 2.4rem;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  @include for-tablet-landscape-up {
    iframe {
      width: 83.4rem;
      height: 46.925rem;
    }

    figure {
      margin-top: 4.8rem;
      cursor: pointer;

      &:first-child {
        margin-top: 0;
      }

      & + *:not(figure),
      & + p + *:not(figure) {
        clear: left;
        // margin is swallowed by float
        margin-top: 0;
        padding-top: 4.8rem;
      }

      &.small,
      &.medium {
        float: left;
        width: 49.99997%;
        // undo first image left padding
        left: -0.8rem;
        padding: 0 0.8rem;

        &.center {
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.large {
        width: 100%;
      }
    }
  }

  @include for-desktop-up {
    figure {
      &.small {
        width: 24.99997%;

        figcaption,
        figcaption > * {
          display: block;
        }
      }
    }
  }
}

.content {
  @extend %basic-block;

  &__inner {
    @extend %container;

    display: flex;
  }

  &__section {
    width: 100%;

    &:first-child {
      position: fixed;
      top: 6.4rem;
      left: 0;
      width: 100%;
      background-color: -color(white);
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
      z-index: -z(subnav);
      padding: 2rem 4rem;

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 2rem;
        top: 0;
        height: 100%;
        width: 8rem;
        background: linear-gradient(to right, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%);
      }
    }
  }

  &__header {
    @extend %basic-block;

    max-width: 83.4rem;
    margin: 0 auto 4rem;
  }

  &__content {
    @extend %content;
  }

  &__rubric {
    @include hd-d($color: -color(cerulean));

    text-transform: uppercase;
    margin-bottom: 0.8rem;

    > * + * {
      &:not(:empty) {
        &:before {
          content: "/";
          margin: 0 0.8rem;
        }
      }
    }
  }

  &__heading {
    @include hd-a();

    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }

  @include for-tablet-landscape-up {
    &__section {
      &:first-child {
        position: relative;
        top: auto;
        left: auto;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        lost-column: 1/4;

        &:after {
          display: none;
        }
      }

      &:last-child {
        lost-column: 3/4;
      }
    }
  }
}
