%content {
  @include copy-a();

  > * {
    display: block;
    max-width: 83.4rem;
    margin: 0 auto;

    & + * {
      margin-top: 2.4rem;
    }
  }

  h1 {
    @include hd-a();
  }

  h2 {
    @include hd-b();
  }

  h3 {
    @include hd-c();
  }

  h1, h2, h3 {
    text-transform: uppercase;
  }

  p {
    @include copy-a();
  }

  a {
    color: -color(cerulean);
    will-change: color;
    transition: color 0.15s $ease-in-out-quart;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: -weight(bold);
  }

  ul,
  ol {
    @include copy-a();

    word-break: break-word;
    padding-left: 0.8rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  br {
    user-select: none;
  }

  iframe,
  aside,
  > blockquote {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  figure {
    @extend %basic-block;

    max-width: none;

    & + figure {
      margin-top: 1.6rem;
    }
  }

  iframe {
    max-width: 100%;
  }

  figcaption {
    @include copy-c();

    width: 100%;
    margin: 0.4rem auto 0;
    max-width: 83.4rem;
    font-style: italic;
  }

  img {
    display: block;
    width: 100%;
    max-width: 83.4rem;
    margin: 0 auto;
    user-select: none;
  }

  hr {
    border: 0 none;
    height: 0.2rem;
    background-color: -color(athens);
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  aside {
    position: relative;
    padding: 3.2rem 0;

    blockquote {
      @include copy-b(-color(tundora));

      display: block;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: -color(gallery);
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  > blockquote {
    @include copy-b();

    position: relative;
    padding: 1.6rem 0 1.6rem 6.4rem;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: -color(gallery);
      width: 2.4rem;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  @include for-desktop-up {
    iframe {
      width: 83.4rem;
      height: 46.925rem;
    }

    figure {
      &.small,
      &.medium {
        &.left,
        &.right {
          margin-top: 3.2rem;
        }

        &.small {
          max-width: 24rem;
          width: 50%;

          &.left {
            margin: 3.2rem 4rem 3.2rem 0;
          }

          &.right {
            margin: 3.2rem 3.2rem 0 4rem;
          }
        }

        &.medium {
          max-width: 40rem;
          width: 70%;

          &.left {
            margin: 3.2rem 4.8rem 3.2rem 0;
          }

          &.right {
            margin: 3.2rem 0 3.2rem 4.8rem;
          }
        }

        &.large {
            width: 100%;

          &.left {
            margin: 3.2rem 4.8rem 3.2rem 3.2rem;
          }

          &.right {
            margin: 3.2rem 0 3.2rem 4.8rem;
          }
        }

        &.left {
          float: left;
        }

        &.center {
          margin-left: auto;
          margin-right: auto;
        }

        &.right {
          float: right;
        }
      }
    }
  }
}

.content {
  @extend %basic-block;

  &__inner {
    @extend %container;

    display: flex;
  }

  &__section {
    width: 100%;

    &:first-child {
      position: fixed;
      top: 6.4rem;
      left: 0;
      width: 100%;
      background-color: -color(white);
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
      z-index: -z(subnav);
      padding: 2rem 4rem;

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 2rem;
        top: 0;
        height: 100%;
        width: 8rem;
        background: linear-gradient(to right, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%);
      }
    }
  }

  &__header {
    @extend %basic-block;

    max-width: 83.4rem;
    margin: 0 auto 4rem;
  }

  &__content {
    @extend %content;

    > figure img {
      cursor: pointer;
    }
  }

  &__rubric {
    @include hd-d($color: -color(cerulean));

    text-transform: uppercase;
    margin-bottom: 0.8rem;

    > * + * {
      &:not(:empty) {
        &:before {
          content: "/";
          margin: 0 0.8rem;
        }
      }
    }
  }

  &__heading {
    @include hd-a();

    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }

  @include for-tablet-landscape-up {
    @include for-tablet-landscape-up {
      &__section {
        &:first-child {
          position: relative;
          top: auto;
          left: auto;
          background-color: transparent;
          box-shadow: none;
          padding: 0;
          lost-column: 1/4;

          &:after {
            display: none;
          }
        }

        &:last-child {
          lost-column: 3/4;
        }
      }
    }
  }
}
