.page-footer {
  @extend %basic-block;

  margin-top: 10.4rem;
  padding: 6.4rem 0 2.4rem;
  background-color: -color(cerulean);

  &__inner {
    @extend %container;
  }

  &__logo {
    display: block;
    position: relative;
    width: 32.8rem;
    margin-bottom: 4rem;
    user-select: none;

    img {
      @extend %basic-block;
    }
  }

  &__section {
    @extend %basic-block;

    & + * {
      margin-top: 9.6rem;
    }
  }

  &__block {
    & + * {
      margin-top: 5.4rem;
    }
  }

  &__heading {
    @include hd-b($color: -color(white));

    text-transform: uppercase;
    margin-bottom: 3.2rem;
  }

  &__colophon {
    @include copy-a($color: -color(white));

    display: block;
    margin-top: 3.2rem;
  }

  @include for-desktop-up {
    &__section {
      display: flex;
      justify-content: space-between;
    }

    &__block {
      margin-top: 0;

      &:first-child {
        lost-column: 2/3;
      }

      &:last-child {
        lost-column: 1/3;
      }
    }
  }
}

.contact {
  user-select: none;

  li {
    display: block;

    & + * {
      margin-top: 3.2rem;
    }
  }

  &__heading {
    @include hd-d($color: -color(white));

    text-transform: uppercase;
  }

  a {
    @include copy-a($color: -color(white));

    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: -color(white);
      width: 100%;
      height: 1px;
      margin-top: -0.3rem;
      opacity: 0;
      user-select: none;
      pointer-events: none;
      will-change: margin, opacity;
      transition: margin 0.2s $ease-in-out-quart, opacity 0.1s $ease-in-out-quart;
    }

    &:hover {
      &:after {
        opacity: 1;
        margin-top: 0.2rem;
      }
    }
  }

  @include for-tablet-landscape-up {
    li {
      display: inline-block;

      & + * {
        margin-top: 0;
        margin-left: 6.4rem;
      }
    }
  }
}

.newsletter {
  @extend %basic-block;

  form {
    @extend %flex-block;
  }

  &__input {
    @extend %strip-input-style;
    @include copy-a($color: -color(white));

    height: 4rem;
    line-height: 4rem;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0 0.8rem;
    overflow: hidden;
    flex-grow: 1;
    border-bottom: 1px solid -color(white);

    &::-webkit-input-placeholder {
      color: -color(white);
    }

    &:-ms-input-placeholder {
      color: -color(white);
    }

    &::-moz-placeholder {
      color: -color(white);
      opacity: 1;
    }
  }

  &__submit {
    @extend %strip-input-style;
    @include hd-e($color: -color(cerulean));

    text-transform: uppercase;
    height: 4rem;
    background-color: -color(white);
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 2.4rem;
    margin-left: 1.6rem;
    cursor: pointer;
  }
}

.social-blocks {
  @extend %flex-block;

  flex-wrap: wrap;

  li {
    @include ratio-box(100%);

    lost-column: 1/2;

    &:nth-child(n+3) {
      margin-top: 2rem;
    }
  }

  @include for-tablet-portrait-up {
    li {
      lost-column: 1/3;

      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }

  @include for-tablet-landscape-up {
    li {
      lost-column: 1/6;

      &:nth-child(n+3) {
        margin-top: 0;
      }
    }
  }
}

#instafeed {
  @extend %basic-block;

  > a {
    & + * {
      margin-top: 2.4rem;
    }
  }

  img {
    @extend %basic-block;

    max-width: 100%;
    margin: 0 auto;
  }

  @include for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;

    > a {
      lost-column: 1/3;

      & + * {
        margin-top: 0;
      }

      &:nth-child(n+4) {
        margin-top: 2.4rem;
      }
    }
  }

  @include for-tablet-landscape-up {
    > a {
      lost-column: 1/6;

      &:nth-child(n+4) {
        margin-top: 0;
      }
    }
  }
}

