.masonry {
  column-count: 2;
  column-gap: 2rem;

  &__item {
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 1.6rem;
    background-color: -color(gallery);

    img {
      @extend %basic-block;

      user-select: none;
    }
  }

  @include for-tablet-portrait-up {
    column-count: 4;
  }
}

.lum-lightbox {
  position: fixed;
  display: block !important;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 0.4s $ease-in-out-quart, visibility 0s linear 0.4s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -z(modal);
  background-color: rgba(0,0,0, 0.6);

  &.lum-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s $ease-in-out-quart, visibility 0s;
  }
}

.lum-lightbox-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 4rem;
}

.lum-lightbox-loader {

}

.lum-lightbox-image-wrapper {

}

.lum-lightbox-position-helper {

}

.lum-img {
  position: absolute;
  max-width: 80%;
  top: 10%;
  left: 10%;
  padding: 0 4rem;

  &:empty {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.lum-gallery-button {

}

.lum-previous-button {

}

.lum-next-button {

}

@media screen and (orientation: portrait) {
  .lum-img {
    max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  .lum-img {
    max-height: 90%;
  }
}
