.masonry {
  @extend %basic-block;
  @extend %cf;

  margin-top: -0.8rem;

  &__item,
  &__sizer {
    width: calc(50%);
  }

  &__item {
    position: relative;
    float: left;
    cursor: pointer;
    padding: 0.8rem;

    img {
      @extend %basic-block;

      user-select: none;
    }
  }

  @include for-tablet-portrait-up {
    &__item,
    &__sizer {
      width: calc(25%);
    }
  }
}

.lum-lightbox {
  position: fixed;
  display: block !important;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 0.4s $ease-in-out-quart, visibility 0s linear 0.4s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -z(modal);
  background-color: rgba(0,0,0, 0.6);

  &.lum-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s $ease-in-out-quart, visibility 0s;
  }
}

.lum-lightbox-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 4rem;
}

.lum-lightbox-loader {
  display: block;
  position: absolute;
  top: calc(50% - 3.2rem);
  left: calc(50% - 3.2rem);
  width: 6.4rem;
  height: 6.4rem;
  background-image: url('/assets/images/loader.png');
  background-size: contain;
  background-position: center;
  -webkit-animation: load 1s infinite linear;
  animation: load 1s infinite linear;
  z-index: -z(overlay);
  user-select: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 0.08s $ease-in-out-quart, visibility 0 0.08s;

  .lum-loading & {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.12s 0.5s $ease-in-out-quart, visibility 0s 0.08s;
  }
}

.lum-img {
  position: absolute;
  max-width: 80%;
  top: 10%;
  left: 10%;
  padding: 0 4rem;

  &:empty {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.lum-gallery-button {
  @extend %strip-input-style;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6.4rem;
  height: 2.72rem;
  background-size: contain;
  background-position: center;
  text-indent: -999em;
  cursor: pointer;
}

.lum-previous-button {
  background-image: url(/assets/images/arrow-left.png);
  left: 2vw;
}

.lum-next-button {
  background-image: url(/assets/images/arrow-right.png);
  right: 2vw;
}

@media screen and (orientation: portrait) {
  .lum-img {
    max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  .lum-img {
    max-height: 90%;
  }
}
