.slides {
  @extend %absolute-fill;

  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s $ease-out-quint;

  &.is-loaded {
    opacity: 1;
  }

  img {
    @extend %cover-image;

    opacity: 0;
    will-change: opacity;
    transition: opacity 1s $ease-in-out-quart;
    z-index: -1;
    user-select: none;

    &:first-child {
      z-index: 2;
      opacity: 1;
    }

    &:last-child {
      z-index: 1;
      opacity: 1;
    }
  }

  &__inner {
    @extend %container;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: -z(overlay);
    height: 100%;
    padding-bottom: 4rem;
  }

  &__caption {
    @include hd-d($color: -color(white));

    text-transform: uppercase;
  }
}
