<footer class="page-footer" id="footer">
  <div class="page-footer__inner">
    <a class="page-footer__logo" href="/">
      <img src="/assets/images/logo_white.png" alt="Logo for Away Lands" title="Away Lands"/>
    </a>

    <div class="page-footer__section">
      <div class="page-footer__block">
        <h3 class="page-footer__heading">Contact Us</h3>

        <ul class="contact">
          {% for contact in site.footer.contacts %}
            <li>
              <h4 class="contact__heading">{{ contact.label }}</h4>
              <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="page-footer__block">
        <h3 class="page-footer__heading"><a href=https://www.awaylandsacademy.com/subscribe style="color:#ffffff;"><p style="text-align:right">Subscribe to Away Lands<br><br>And Receive 10% Off Our Presets!</a></p></h3>

        
        </div>
      </div>
    </div>
<br> <br> <br> <br><br> <br>
    <div class="page-footer__section">
     
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/9e1f471f58f951a8b9f0040841a3b4ca.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
    <br><br><center>
      <span class="page-footer__colophon">© Copyright Away Lands <a href=https://www.awaylandsacademy.com/privacy style="color:#ffffff;"><p style="text-align:center">Privacy Policy</a></h6></span> </center>
    </div>
  </div>
  
</footer>
 