<footer class="page-footer" id="footer">
  <div class="page-footer__inner">
    <a class="page-footer__logo" href="/">
      <img src="/assets/images/logo_white.png" alt="Logo for Away Lands" title="Away Lands"/>
    </a>

    <div class="page-footer__section">
      <div class="page-footer__block">
        <h3 class="page-footer__heading">Contact Us</h3>

        <ul class="contact">
          {% for contact in site.footer.contacts %}
            <li>
              <h4 class="contact__heading">{{ contact.label }}</h4>
              <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="page-footer__block">
        <h3 class="page-footer__heading">Subscribe to Away Lands</h3>

        <div class="newsletter">
          <form action="//AwayLands.us14.list-manage.com/subscribe/post?u=1cf3be671f6ee19ffb1d843c2&amp;id=2d64cb3869"
                method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
            <input type="text" class="newsletter__input" placeholder="email address" name="EMAIL"/>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                      name="b_1cf3be671f6ee19ffb1d843c2_2d64cb3869"
                                                                                      tabindex="-1" value=""></div>
            <input type="submit" class="newsletter__submit" value="subscribe" name="subscribe"/>
          </form>
        </div>
      </div>
    </div>

    <div class="page-footer__section">
      <instagram inline-template>
        <ul class="social-blocks">
          {% for visual in site.footer.visuals %}
            {% if visual.image %}
              <li>
                <div class="social-block">
                  {% if visual.url %}
                  <a href="{{ visual.url }}" target="_blank">
                    {% endif %}
                    <img src="{{ visual.image.s3Key | image({w: 800, auto: 'compress,format'}) }}"
                         class="social-block__image"
                         data-image
                         v-imageloaded
                    >

                    {% if visual.type and visual.label %}
                      <div class="social-block__hover">
                        <span class="social-block__icon">{% include "vectors/" + visual.type + ".svg" %}</span>
                        <span class="social-block__label">{{ visual.label }}</span>
                      </div>
                    {% endif %}
                    {% if visual.url %}
                  </a>
                  {% endif %}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </instagram>
    </div>

    <span class="page-footer__colophon">© Copyright Away Lands</span>
  </div>
</footer>
