{% set social = site.navigation.social %}

<pageheader inline-template>
  <div>
    <header class="page-header" :class="{'is-sticky': isSticky, 'is-open': isOpen}">
      <div class="page-header__inner">
        <div class="page-header__section">
          <div class="logo">
            <a href="/">
              <img class="logo__image" src="/assets/images/logo_color.png" alt="Logo for Away Lands" title="Away Lands" />
              <img class="logo__image--white" src="/assets/images/logo_white.png" alt="Logo for Away Lands" title="Away Lands" />
            </a>
          </div>

          <nav class="page-nav">
            <ul class="page-nav__list">
              {% for link in site.navigation.links %}
              <li><a href="{{ link.url }}" {% if link.text == page.title or (link.children[0].contentTypeName and (link.children[0].contentTypeName == page._contentTypeName or link.children[1].contentTypeName == page._contentTypeName)) %}class="is-current"{% endif %}>{{ link.text }}</a></li>
              {% endfor %}

              <li><a href="#footer" @click="contactScroll">Contact</a></li>
            </ul>
          </nav>
        </div>

        <div class="page-header__section">
          <ul class="social">
            <li>
              <a href="{{ social.instagramUrl }}" target="_blank">{% include "vectors/instagram.svg" %}</a>
            </li>

            <li>
              <a href="{{ social.youTubeUrl }}" target="_blank">{% include "vectors/youtube.svg" %}</a>
            </li>

            <li>
              <a href="{{ social.facebookUrl }}" target="_blank">{% include "vectors/facebook.svg" %}</a>
            </li>

            <li>
              <a href="{{ social.pinterestUrl }}" target="_blank">{% include "vectors/pinterest.svg" %}</a>
            </li>
          </ul>

          <button class="page-header__burger" @click="toggleOpen">
            <span></span>
          </button>
        </div>
      </div>
    </header>

    <div class="mobile-nav" :class="{'is-visible': isOpen}">
      <div class="mobile-nav__inner">
        <div class="mobile-nav__target" @click="close"></div>

        <ul class="mobile-nav__list">
          {% for item in site.navigation.links %}
          <li class="mobile-nav__item">
            <a href="{{ item.url }}" class="mobile-nav__link" {% if item.externalLink %}target="_blank"{% endif %}>{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</pageheader>
