<!-- ko component: "header" -->
<header class="page-header" data-bind="css: {'is-sticky': isSticky, 'is-open': isOpen}">
  {{ parentTitle | dump }}
  <div class="page-header__inner">
    <div class="page-header__section">
      <div class="logo">
        <a href="/">
          <img class="logo__image" src="/assets/images/logo_color.png" alt="Logo for Away Lands" title="Away Lands" />
          <img class="logo__image--white" src="/assets/images/logo_white.png" alt="Logo for Away Lands" title="Away Lands" />
        </a>
      </div>

      <nav class="page-nav">
        <ul class="page-nav__list">
          {% for link in site.navigation.links %}
          <li><a href="{{ link.url }}" {% if link.text == page.title or link.text == parentTitle %}class="is-current"{% endif %}>{{ link.text }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="page-header__section">
      <ul class="social">
        <li>
          <a href="https://www.instagram.com/amyseder/" target="_blank">{% include "vectors/instagram.svg" %}</a>
        </li>

        <li>
          <a href="https://www.youtube.com/c/awaylandsmedia" target="_blank">{% include "vectors/youtube.svg" %}</a>
        </li>

        <li>
          <a href="https://www.facebook.com/awaylands" target="_blank">{% include "vectors/facebook.svg" %}</a>
        </li>

        <li>
          <a href="http://pinterest.com/awaylands" target="_blank">{% include "vectors/pinterest.svg" %}</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="mobile-nav" data-bind="css: { 'is-visible': isOpen }">
  <div class="mobile-nav__inner">
    <div class="mobile-nav__target" data-bind="click: close"></div>

    <ul class="mobile-nav__list">

    </ul>
  </div>
</div>
<!-- /ko -->
