{% from "macros/image-url.html" import imageUrl %}

{% set socialGlobal = site.social %}

{% if page.social.title %}
  <title>{{ page.social.title }} | {{ socialGlobal.siteName }}</title>
{% elif page.title %}
  <title>{{ page.title }} | {{ socialGlobal.siteName }}</title>
{% elif page.name %}
  <title>{{ page.name }} | {{ socialGlobal.siteName }}</title>
{% elif page._contentTypeName %}
  <title>{{ page._contentTypeName | capitalize }} | {{ socialGlobal.siteName }}</title>
{% else %}
  <title>{{ socialGlobal.siteName }}</title>
{% endif %}

{% if page.social.description %}
  <meta name="description" content="{{ page.social.description }}">
  <meta property="og:description" content="{{ page.social.description }}">
{% elif page.tout.dek %}
  <meta name="description" content="{{ page.tout.dek }}">
  <meta property="og:description" content="{{ page.tout.dek }}">
{% elif socialGlobal.description %}
  <meta name="description" content="{{ socialGlobal.description }}">
  <meta property="og:description" content="{{ socialGlobal.description }}">
{% endif %}

{% if socialGlobal.siteName %}
  <meta property="og:site_name" content="{{ socialGlobal.siteName }}">
{% endif %}

{% if page.social.image %}
  <meta property="og:image" content="{{ page.social.image.s3Key | image({auto: 'compress,format'}) }}">
{% elif page.tout.image %}
  <meta property="og:image" content="{{ page.tout.image.s3Key | image({auto: 'compress,format'}) }}">
{% elif socialGlobal.image %}
  <meta property="og:image" content="{{ socialGlobal.image.s3Key | image({auto: 'compress,format'}) }}">
{% endif %}

{% if page._contentTypeName %}
  <meta property="og:type" content="article">
{% endif %}

<meta name="twitter:card" content="summary_large_image">

{% if socialGlobal.twitter.site %}
  <meta name="twitter:site" content="{{ socialGlobal.twitter.site }}">
{% endif %}

{% if socialGlobal.twitter.creator %}
  <meta name="twitter:creator" content="{{ socialGlobal.twitter.creator }}">
{% endif %}

{% if socialGlobal.facebookAppId %}
  <meta property="fb:app_id" content="{{ socialGlobal.facebook.appId }}">
{% endif %}
