@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('/assets/fonts/montserrat-light-webfont.woff') format('woff'),
  url('/assets/fonts/montserrat-light-webfont.ttf') format('truetype'),
  url('/assets/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/montserrat-regular-webfont.woff') format('woff'),
  url('/assets/fonts/montserrat-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
  url('/assets/fonts/montserrat-medium-webfont.woff') format('woff'),
  url('/assets/fonts/montserrat-medium-webfont.ttf') format('truetype'),
  url('/assets/fonts/montserrat-medium-webfont.svg#montserratmedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/montserrat-bold-webfont.woff') format('woff'),
  url('/assets/fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('/assets/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still EB Garamond';
  src: url('/assets/fonts/still-preview/eb-garamond-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still Voyage';
  src: url('/assets/fonts/still-preview/voyage.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still Dahlia';
  src: url('/assets/fonts/still-preview/dahlia-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still Galisteo';
  src: url('/assets/fonts/still-preview/galisteo-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still Cote Lumiere';
  src: url('/assets/fonts/still-preview/cote-lumiere.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still Country Club';
  src: url('/assets/fonts/still-preview/countryclub.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still ITC Garamond Light Condensed';
  src: url('/assets/fonts/still-preview/itc-garamond-light-condensed.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Still Old Money';
  src: url('/assets/fonts/still-preview/oldmoney-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still Old Money';
  src: url('/assets/fonts/still-preview/oldmoney-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Still Refined Society';
  src: url('/assets/fonts/still-preview/refined-society.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still Vigro';
  src: url('/assets/fonts/still-preview/vigro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Still Fitzgerald';
  src: url('/assets/fonts/still-preview/fitzgerald-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
