<!doctype html>
<html>
  <head>
    {% include "partials/head.html" %}
    {% block extra_head %}{% endblock %}

    {# Favicons from Webpack favicon generator #}
    {% for element in global.favicon.html %}
      {{ element | replace('/shortcut-', '/assets/shortcut-') | safe }}
    {% endfor %}

    <meta name="cf-2fa-verify" content="9engkr8y7cn7md6t">
  </head>

  <body class="{% block body_class %}body{% endblock %}">
    {% include "partials/scripts-body.html" %}

    <div class="wrapper" id="app">
      {% include "partials/header.html" %}

      <main class="main">
        {% block content %}{% endblock %}

      </main>

      {% include "partials/footer.html" %}

    </div>

    {% block extra_scripts %}{% endblock %}

    {% include "partials/scripts.html" %}

  </body>
</html>
